<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %green(%-5level) %blue(%logger{36}\(%class{0}.java:%line\)) %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="FILE-DEBUG"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./log/debug.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <!-- me.moree包下只输出debug级别，并且不向上传递 -->
    <logger name="me.moree" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-DEBUG" />
    </logger>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>